<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <a href="#" class="footer-link">Folgen Sie unserem Blog</a>
      <div class="footer-social-icons">
        <a href="#"><img src="/icons/social-x.svg" alt="X" /></a>
        <a href="#"><img src="/icons/social-youtube.svg" alt="YouTube" /></a>
        <a href="#"><img src="/icons/social-linkedin.svg" alt="LinkedIn" /></a>
        <a href="#"><img src="/icons/social-instagram.svg" alt="Instagram" /></a>
        <a href="#"><img src="/icons/social-facebook.svg" alt="Facebook" /></a>
        <a href="#"><img src="/icons/social-tiktok.svg" alt="TikTok" /></a>
      </div>
    </div>

    <div class="footer-links">
      <div class="footer-column">
        <h4>Enthaltene Anwendungen</h4>
        <ul>
          <li><a href="#">Gmail</a></li>
          <li><a href="#">Meet</a></li>
          <li><a href="#">Chat</a></li>
          <li><a href="#">Kalender</a></li>
          <li><a href="#">Drive</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Tabellen</a></li>
          <li><a href="#">Präsentationen</a></li>
          <li><a href="#">Formulare</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Sicherheit und Verwaltung</h4>
        <ul>
          <li><a href="#">Admin</a></li>
          <li><a href="#">Endpunkt</a></li>
          <li><a href="#">Vault</a></li>
          <li><a href="#">Work Insights</a></li>
        </ul>
        <h4>Lösungen</h4>
        <ul>
          <li><a href="#">Neue Unternehmen</a></li>
          <li><a href="#">Kleine Unternehmen</a></li>
          <li><a href="#">Große Unternehmen</a></li>
          <li><a href="#">Einzelhandel</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Preise</h4>
        <ul>
          <li><a href="#">Version auswählen</a></li>
        </ul>
        <h4>Add-ons</h4>
        <ul>
          <li><a href="#">Gemini für Workspace</a></li>
          <li><a href="#">Google Voice</a></li>
          <li><a href="#">AppSheet</a></li>
        </ul>
      </div>

      <div class="footer-column">
        <h4>Ressourcen</h4>
        <ul>
          <li><a href="#">Working remotely</a></li>
          <li><a href="#">Sicherheit</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Partner</a></li>
        </ul>
        <h4>Mehr von Google</h4>
        <ul>
          <li><a href="#">Google Cloud</a></li>
          <li><a href="#">Google Domains</a></li>
          <li><a href="#">Chrome Enterprise</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <ul>
        <li><a href="#">Über Google</a></li>
        <li><a href="#">Google-Produkte</a></li>
        <li><a href="#">Datenschutz</a></li>
        <li><a href="#">Nutzungsbedingungen</a></li>
      </ul>
      <div class="language-selector">
        <a href="#">Deutsch</a>
      </div>
    </div>
  </div>
</footer>
