<header class="header-navbar">
  <nav class="header-navbar-content">
    <!-- Logo and Navigation Links -->
    <div class="header-left">
      <div class="header-logo">
        <img src="/wrk.png" alt="Google Workspace Logo" />
      </div>
      <div class="header-links">
        <a href="#" class="header-link">Lösungen</a>
        <a href="#" class="header-link dropdown">Produkte
          <span class="dropdown-arrow">
            <!-- SVG Outline Arrow -->
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 10l4 4 4-4" stroke="#5f6368" stroke-width="2" fill="none" />
            </svg>
          </span>
        </a>
        <a href="#" class="header-link">Branchen</a>
        <a href="#" class="header-link">KI</a>
        <a href="#" class="header-link">Preise</a>
        <a href="#" class="header-link">Ressourcen</a>
      </div>
    </div>

    <!-- Buttons -->
    <div class="header-nav-buttons">
      <div class="divided-button">
        <span class="button-text">Google Drive testen</span>
        <span class="button-arrow">
          <!-- SVG Arrow -->
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 15.5l-5-5h10l-5 5z" fill="#1a73e8"/>
          </svg>
        </span>
      </div>
      <a href="/login" class="header-button primary">Anmelden</a>
    </div>
  </nav>
</header>
