<header class="header-navbar">
  <nav class="header-navbar-content">
    <div class="header-logo">
      <img src="/wrk.png" alt="Google Workspace Logo" />
    </div>
    <div class="header-nav-buttons">
      <a href="" class="header-button secondary">Google Drive testen</a>
      <a href="/login" class="header-button primary">Anmelden</a>
    </div>
  </nav>
</header>
