/* ⸜(｡˃ ᵕ ˂ )⸝♡ */
/* --------------------- START Farbvariablen ---------------------*/
:root {
  --light-gray: #f9f9f9;
  --dark-gray: #666;
  --primary-blue: #1a73e8;
  --hover-blue: #155cb0;
  --border-gray: #dadce0;
  --footer-bg: #f9f9f9;
  --text-color: #333;
  --background-color: #f8f9fa;
}
/* --------------------- END Farbvariablen --------------------- */

/* --------------------- HERO --------------------- */
/* Hero Container */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Hero Wrapper */
.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

/* Hero text section */
.content-text {
  flex: 1;
  max-width: 500px;
}

.content-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  hyphens: auto;
  word-break: break-word;
  text-align: left;
}

.content-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Hero Image (Hello James) */
.content-image {
  flex: 1;
  text-align: right;
}

.bg-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.drive-logo {
  max-width: 200px;
  margin-bottom: 20px;
}
/* --------------------- END Hero --------------------- */

/* --------------------- START Buttons FOR HERO and CTA --------------------- */
.button-group {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.button.primary {
  background-color: var(--primary-blue);
  color: white;
  padding: 10px 40px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.button.primary:hover {
  background-color: var(--hover-blue);
}

.button.secondary {
  background-color: transparent;
  color: var(--primary-blue);
  padding: 10px 40px;
  font-size: 0.9rem;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.button.secondary:hover {
  background-color: #f0f0f0;
  color: var(--hover-blue);
}

.button.secondary:after {
  font-size: 10px;
  margin-left: 5px;
}
/* --------------------- END Buttons FOR HERO and CTA --------------------- */

/* --------------------- Video Section --------------------- */
.feature-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.feature-video {
  flex: 1;
}

.feature-video video {
  width: 100%;
  border-radius: 10px;
}

.feature-text {
  flex: 1;
  font-weight: lighter;
  max-width: 500px;
  text-align: left;
  margin-right: 50px;
}

.feature-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-right: 0px;
  text-align: left;
  hyphens: auto;
  word-break: break-word;
}

.feature-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.feature-text a {
  color: var(--primary-blue);
  text-decoration: none;
}

.feature-text a:hover {
  text-decoration: underline;
}
/* --------------------- END --------------------- */

/* --------------------- START APPSTORE SECTION --------------------- */
.mobile-app-section {
  text-align: center;
  background-color: var(--footer-bg);
  padding: 40px 20px;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

.mobile-app-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.app-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app-button {
  max-width: 150px;
  height: auto;
}
/* --------------------- END APPSTORE SECTION --------------------- */

/* --------------------- SIGN UP FORM --------------------- */
/* does nothing
.newsletter-signup {
  flex: 1;
  max-width: 600px;
}

.newsletter-signup h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
*/

.newsletter-form .form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.newsletter-form input[type="email"],
.newsletter-form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 1;
}

.newsletter-form button {
  padding: 10px 20px;
  background-color: var(--primary-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter-form button:hover {
  background-color: var(--hover-blue);
}
/* --------------------- END SIGN UP FORM --------------------- */

/* --------------------- START FAQ SECTION --------------------- */
.faq-section {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.faq-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.faq-section p {
  font-size: 1.1rem;
  color: #6c6c6c;
  margin-bottom: 30px;
}

.faq-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.faq-controls .expand-all {
  color: var(--primary-blue);
  cursor: pointer;
}

.faq-controls .arrow {
  font-size: 1.5rem;
  color: var(--primary-blue);
  margin-left: 10px;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq-question {
  background-color: white;
  color: var(--text-color);
  font-size: 1.1rem;
  text-align: left;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

.faq-answer {
  display: none;
  padding: 10px 15px;
  text-align: left;
  color: #666;
  font-size: 1rem;
}

.faq-item.active .faq-answer {
  display: block;
}
/* --------------------- END FAQ SECTION --------------------- */

/* --------------------- START CALL TO ACTION --------------------- */
.call-to-action {
  text-align: center;
  background-color: var(--background-color);
  padding: 40px 20px;
  max-width: 80%;
  margin: 50px auto;
  border-radius: 10px;
}

.cta-logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.call-to-action h2 {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* --------------------- END CALL TO ACTION --------------------- */

/* --------------------- START NEWSLETTER SECTION --------------------- */
.newsletter-section {
  background-color: var(--background-color);
  padding: 40px 20px;
  width: 100%;
  margin: 50px 0;
  text-align: center;
}

.newsletter-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: var(--text-color);
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.form-checkbox {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.form-checkbox input {
  margin-right: 10px;
}

.form-checkbox label {
  font-size: 0.9rem;
  color: #666;
}

.form-disclaimer {
  font-size: 0.9rem;
  color: #666;
}

.form-disclaimer a {
  color: var(--primary-blue);
  text-decoration: none;
}

.form-disclaimer a:hover {
  text-decoration: underline;
}
/* --------------------- END NEWSLETTER SECTION --------------------- */
